/* RESET */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

html{
    font-size: 62.5%;
}
/* BODY */

/* HEADER */


.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.flex__title {
    font-size: 5em;
}

.flex__subtitle{
    font-size: 3em;
}

.dark__mode {
    color:antiquewhite;
    background-color: black;
}

/* MAIN */

#seeProducts{
    margin: 1rem;
}

#ignoreProducts{
    margin: 1rem;
}

#products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title__pages {
    font-size: 4em;
    display: flex;
    justify-content: center;
}

.catBtn{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* CARD */
.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 2%;
    margin-top: 1rem;
}

.card__title{
    font-size: 2.4em;
    color: #2b2b2b;
    font-weight: bold;
}

.card__img{
    height: 320px;
    width: 320px;
    padding: 0.5rem;
    border-radius: 5%;
}

.card__description{
    font-size: 1.6em;
    padding: 0.5rem;
    height: 5rem;
    color: #2b2b2b;
    text-align: center;
}

.card__price{
    font-size: 1.6em;
    padding: 0.5rem;
    color: #2b2b2b;
}

.card__button{
    font-size: 1.4em;
    color: red;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* FOOTER */


/* prueba */

.hide{
    display: none;
}

.show{
    display: block;
}