/* RESET */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

html{
    font-size: 62.5%;
}

button{
    cursor: pointer;
}
/* BODY */

/* HEADER */

header{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0 auto;
}

.logo{
    margin-top: 1rem;
}

input{
    margin: 1rem;
    width: 250px;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.btn__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.flex__title {
    font-size: 5em;
    color: #2C2B4B;;
}

.flex__subtitle{
    font-size: 3em;
    color: #2C2B4B;
}

/* Dark Mode */
.nigthMode{
    transition: 4s all ease-in;
    background: #0d1117;
    color: #d1d5da;
}

.switch{
    position: relative;
    cursor: pointer;
}

input[type="checkbox"]{
    width: 70px;
    height: 30px;
    background: transparent;
    -webkit-appearance: none;
    outline: none;
    border-radius: 99999px;
    border: 5px solid #d1d5da;
}

input[type="checkbox"]:checked{
    transition: -4s all ease-in;
    border-color: #3a1d6d;
    background: #271052;
}
input[type="checkbox"]::before{
    content: "☾" ;
    font-weight: 900;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 0;
    width: 30px;
    height: 30px;
    background: #2f363d;
    border-radius: 50%;
    transform: scale(-1.05) rotate(60deg);
    color: #ffdf5d;
    transition: all .4s linear;
}
input[type="checkbox"]:checked::before{
    left: 50px;
    color: #f8e3a1;
    background: #6e40c9;
}
.header__darkMode{
    background-color: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    padding-bottom: 2rem;
}

.text__cart{
    color: red;
    font-size: 2em;
    margin: 2rem;
    text-align: center;
}

.modal__buy{
    display: flex;
    flex-direction: column;
}

.modal__card{
    display: flex;
    flex-direction: column;
}

.buy__btn{
    margin-bottom: 1rem;
}



/* MAIN */
main{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 1200px;
    margin: 0 auto;
}

#seeProducts{
    margin: 1rem;
}

#ignoreProducts{
    margin: 1rem;
}

#products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title__pages {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 4em;
    display: flex;
    justify-content: center;
    color: #DE3C4B;
}

.catBtn{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

/* Nosotros */

.card__we{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    padding-top: 3rem;
}

.text__we{
    margin-right: 2rem;
    display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
}

/* Catalogo */
.modal__cart{
    background-color: black;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 300px;
    color: white;
}

.card__cat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__cat{
    width: 400px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
}

.verMas__btn{
    margin-top: 1rem;
    width: 70px;
}

.hide{
    display: none;
}

.show{
    display: block;
}

/* Card productos  */
.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 2%;
    margin-top: 1rem;
}

.card__title{
    font-size: 2.4em;
    color: #2b2b2b;
    font-weight: bold;
}

.card__img{
    height: 320px;
    width: 320px;
    padding: 0.5rem;
    border-radius: 5%;
}

.card__description{
    font-size: 1.6em;
    padding: 0.5rem;
    height: 5rem;
    color: #2b2b2b;
    text-align: center;
}

.card__price{
    font-size: 1.6em;
    padding: 0.5rem;
    color: #2b2b2b;
}

.card__button{
    font-size: 1.4em;
    color: red;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* Carrito */
.cart{
    background-color: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    width: auto;
    color: #2b2b2b;
    text-align: center;
    padding: 2rem;
    font: icon;

}

.cart__btn{
    width: 50px;
    height: 30px;
    border-radius: 30px;
    border-color: #3a1d6d;
    background: #271052;
}

.cart__img{
    padding-right: 5px;
}

.cart__cant{
    color: #ffdf5d;
    font-size: 20px;
}

.cont__cart{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.products__cart{
    margin: 2rem;
    font-size: .8em;
    text-align: center;
    
}

.cart__total{
    color: green;
    text-align: center;
    font-size: 3em;
    margin-top: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
}

.btn__delete{
    margin-top: 1rem;
}

.price__total{
    font-size: 0.5em;
    display: flex;
    flex-direction: column;
}

.btn__removeAll{
    margin-left: 2rem;
    width: 100px;
    text-align: center;
    margin-top: 1rem;
}

/* Galeria */
.card__gal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__gal{
    width: 400px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
}

/* galeria img*/

#galery{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
    max-width: 700px;
    min-width: 400px;
    padding: 0 10px;
    margin: 0 auto;

}

#galery img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

#img__act{
    width: 100%;
    height: auto;
}

#contain__main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.65)
}

#contain__secon{
    width: 500px;
    height: 500px;
    border: 10px;
    border-radius: 25px;
    border-color: #271052 ;
    border-style: solid;
    justify-content: center;
    position: relative;
}

.img__act{
    border-radius: 10px;
}

 #btn__close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3em;
    background-color: #3a1d6d;
    color: #ffdf5d;
    border: none;
    width: 40px;
    border-radius: 20px;
    height: 40px;
 }

 #btn__next{
    position: absolute;
    top:  50%;
    right: 0;
    font-size: 3em;
    background-color: #3a1d6d;
    color: #ffdf5d;
    border: none;
    width: 40px;
    border-radius: 20px;
    height: 40px;
 }

 #btn__prev{
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 3em;
    background-color: #3a1d6d;
    color: #ffdf5d;
    border: none;
    width: 40px;
    border-radius: 20px;
    height: 40px;
 }
/* FOOTER */
footer {
    background-color: #0d1117;
    /* background-color: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px); */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 2rem;
    margin-top: 3rem; 
}

  

  .footer__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin-bottom: 1rem; 
}
  
  .footer__title {
    color: white;
    padding: 0.5rem 0;
    font-size: 2.4em;
    text-align: center;
    display: inline-block; 
}
  
  .footer__subtitle {
    color: white;
    padding: 0.2em 0;
    font-size: 1.6em;
    display: inline-block; 
}
  
  .footer__title--pages {
    color: white;
    padding: 0.5rem 0;
    font-size: 2.4em;
    text-align: center;
    display: inline-block; 
}
  
  .footer_sutbtitle--pages {
    color: white;
    padding: 0.2em 0;
    font-size: 1.6em;
    display: inline-block; 
}
  
.footer__div--icon{
    list-style: none;
    display: flex;
    flex-direction: row;
}

  .footer__icon {
    padding: 0.5rem;
    display: inline-block; 
}
  
  .footer__link {
    color: #2C2B4B; 
}

/* preguntas frecuentes */

#btn__shipp{
    cursor: pointer;
}

#btn__buy{
    cursor: pointer;
}

.modal__quest{
    background-color: #ffffff4d;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    color: #2b2b2b;
    text-align: center;
    padding: 2rem;
    font: icon;
}

.modal__title{
    font-size: 30px;
}

.modal__text{
    font-size: 2em;
}


