/* RESET */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

html{
    font-size: 62.5%;
}
/* BODY */

/* HEADER */

header{
    width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-around;
}

input{
    margin: 1rem;
    width: 250px;
}

.column{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.mode{
    display: flex;
    flex-direction: row;
}

.dark__mode {
    color:white;
    background-color: black;
}

.flex__title {
    font-size: 5em;
}

.flex__subtitle{
    font-size: 3em;
}


.card__cart{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 500px;
    position: absolute;
    top: 100px;
    background-color: white;
}

.text__cart{
    color: red;
    font-size: 2em;
    margin: 2rem;
    text-align: center;
}

.modal__buy{
    display: flex;
    flex-direction: column;
}

.modal__card{
    display: flex;
    flex-direction: column;
}

.buy__btn{
    margin-bottom: 1rem;
}



/* MAIN */
main{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 1200px;
    margin: 0 auto;
}

#seeProducts{
    margin: 1rem;
}

#ignoreProducts{
    margin: 1rem;
}

#products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.title__pages {
    margin-top: 5rem;
    font-size: 4em;
    display: flex;
    justify-content: center;
}

.catBtn{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.card__we{
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
}

.text__we{
    margin-right: 2rem;
    display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
}

.card__cat{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text__cat{
    width: 400px;
    margin-top: 3rem;
    margin-right: 2rem;
    display: flex;
    font-size: 3em;
    text-align: center;
    align-items: center;
}

.verMas__btn{
    margin-top: 1rem;
    width: 70px;
}

/* CARD  */
.card{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
    border-radius: 2%;
    margin-top: 1rem;
}

.card__title{
    font-size: 2.4em;
    color: #2b2b2b;
    font-weight: bold;
}

.card__img{
    height: 320px;
    width: 320px;
    padding: 0.5rem;
    border-radius: 5%;
}

.card__description{
    font-size: 1.6em;
    padding: 0.5rem;
    height: 5rem;
    color: #2b2b2b;
    text-align: center;
}

.card__price{
    font-size: 1.6em;
    padding: 0.5rem;
    color: #2b2b2b;
}

.card__button{
    font-size: 1.4em;
    color: red;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

/* FOOTER */


/* prueba */

.hide{
    display: none;
}

.show{
    display: block;
}